<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" th:href="@{/assets/global/css/components.min.css?}+${T(com.wn.sjpt.crf.util.Cons).VERSION}">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/global/css/themes/default.min.css?}+${T(com.wn.sjpt.crf.util.Cons).VERSION}">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/simple-line-icons/css/simple-line-icons.css}">
<link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">