<script th:src="@{/webjars/lodash/lodash.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/global/plugins/bootbox/bootbox.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/global/plugins/bs-custom-file-input/bs-custom-file-input.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/common/js/jquery-ajax-filter.js?}+${T(com.wn.sjpt.crf.util.Cons).VERSION}"></script>
