<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> ztree</title>
    <link rel="stylesheet" th:href="@{/assets/global/css/comps/ztree/ztree-bootstrap.min.css}" type="text/css">

</head>
<body>
<div>
    <ul id="treeDemo" class="ztree"></ul>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script  th:src="@{/webjars/zTree/js/jquery.ztree.core.js}"></script>
<script  th:src="@{/webjars/zTree/js/jquery.ztree.excheck.js}"></script>
<script  th:src="@{/webjars/zTree/js/jquery.ztree.exedit.js}"></script>
<script  th:src="@{/assets/js/page/ztree/form-tree.js}"></script>
</body>
</html>