<script th:src="@{/page/js/comp-uitl.js}"></script>
<script th:src="@{/page/js/comp.js}"></script>
<script th:src="@{/assets/global/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/assets/global/plugins/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}" ></script>

<!--基本信息-->
<script th:src="@{/page/js/comp-conf/person-base.js}"></script>
<!--既往神经系统疾病史-->
<script th:src="@{/page/js/comp-conf/pastnerve-history.js}"></script>
<!--既往全身疾病史及用药情况-->
<script th:src="@{/page/js/comp-conf/pastsystem-disease-history.js}"></script>
<!--试验完成情况总结-->
<script th:src="@{/page/js/comp-conf/complete-summary.js}"></script>
<!--其他相关疾病-->
<script th:src="@{/page/js/comp-conf/other-related-medical-history.js}"></script>
<!--步态认知筛查结果（智能化神经系统功能评估）-->
<script th:src="@{/page/js/comp-conf/results-intelligent.js}"></script>
<!--患者体格检查-->
<script th:src="@{/page/js/comp-conf/physical-examination.js}"></script>
<!--既往辅助检查（非必须，如有请记录）-->
<script th:src="@{/page/js/comp-conf/supplementary-examination.js}"></script>
<!--卫生经济学信息-->
<!--<script th:src="@{/page/js/comp-conf/health-economics.js}"></script>-->
<!--正常受试者入选标准-->
<script th:src="@{/page/js/comp-conf/criteria-normal.js}"></script>
<!--异常受试者入选标准-->
<script th:src="@{/page/js/comp-conf/criteria-abnormal.js}"></script>
<!--排除标准-->
<script th:src="@{/page/js/comp-conf/exclusion-criteria.js}"></script>
<!--步态认知筛查结果（神经内科运动障碍专业专家医生组）-->
<script th:src="@{/page/js/comp-conf/results-dyskinesia.js}"></script>
<!--不良事件观察表-->
<script th:src="@{/page/js/comp-conf/adverse_events_observation.js}"></script>
<!--严重不良事件或非预期不良事件评估表-->
<script th:src="@{/page/js/comp-conf/assessment_sae_uae.js}"></script>
<!--患者接受非计划治疗记录-->
<script th:src="@{/page/js/comp-conf/unplanned_treatment.js}"></script>
<!--头颅核磁共振-->
<script th:src="@{/page/js/comp-conf/head-nuclear-magnetic-responance.js}"></script>
<!--入选标准-->
<script th:src="@{/page/js/comp-conf/inclusio-criteria.js}"></script>
<!--排除标准-->
<script th:src="@{/page/js/comp-conf/many-exclusion-criteria.js}"></script>
<!--步态认知筛查结果（神经内科非运动障碍专业专家医生组）-->
<script th:src="@{/page/js/comp-conf/results-nodyskinesia.js}"></script>
<!--脑血管病发病情况-->
<script th:src="@{/page/js/comp-conf/cerebrovascular-disease.js}"></script>
<!--病历报告表-->
<script th:src="@{/page/js/comp-conf/crf-form.js}"></script>
<!--患者基本情况-->
<!--<script th:src="@{/page/js/comp-conf/wsjjxxx-person-base.js}"></script>-->
<!--医疗保险与卫生服务利用情况-->
<script th:src="@{/page/js/comp-conf/medicare-healthservice.js}"></script>
<!--EQ-5D-5L-->
<script th:src="@{/page/js/comp-conf/eq-5d-5l.js}"></script>
<!--医疗机构相关信息-->
<!--<script th:src="@{/page/js/comp-conf/org-info.js}"></script>-->
<!--患者就诊和费用明细数据（医保数据库最优，医院信息系统/病案首页备选）-->
<script th:src="@{/page/js/comp-conf/pat-fee-diag.js}"></script>
<!--项目相关成本-->
<!--<script th:src="@{/page/js/comp-conf/project-cost.js}"></script>-->